<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macchiato">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.example.macchiato.Models.GlobalApplication"
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@mipmap/ic_launcher"
        android:label="Macchiato"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Macchiato">
        <activity android:name=".Descargas_Externas"

            >
        </activity>
        <activity android:name=".CambiarPerfilActivity"

            />
        <activity android:name=".HistorialAcademicoActivity"

            >
        </activity>

        <activity android:name=".RegisterActivity"

            />
        <activity android:name=".LogInActivity"

            />
        <activity android:name=".Navigation_bottom"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>